

<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
	<!-- <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">  Кодировка -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<META http-equiv=Keywords content="Андрей Великанов, философия, искусство">

	<title>Андрей Великанов. Заказ просмотра лекции</title>

	<link rel="stylesheet" href="/css/newold.css">
    <link rel="stylesheet" href="/css/head.css">


</head>

<body onload="init()" onclick="openIt()">



    <nav class="nav" style = "background: url() no-repeat top right #282828;">


<table>
<tr height = "10px">
	<td></td>
	<td></td>
<tr>
	<td width = "12px"></td>
	<td>
	<span class = head  style="margin-top: 15px;"><a href="http://velikanov.ru/default.asp">
	<b>андрей великанов</b></a> </span>
	<br>
	<span style="FONT-FAMILY: Verdana, Arial, sans-serif; font-size:20px; color: #fff; ">
	<span class="block">&nbsp;/Просмотр лекции</span></span> <br>
	</td>
</tr>
</table>


<br>






	<div id="maintext">


<!-- <hr size="2">
<span style="font-size:12px;">Вы авторизованы как <b>arsy0versy@gmail.com</b>. Вам доступны лекции: ФИ05 (до 11.01.2021), <a href="" class="p" style="font-size:12px;">HM29</a>  (до 11.01.2021).  </span>
-->

<hr size="2">
<br>


Курс <a href="http://velikanov.ru/lecture<%= lectureData.courseNum%>.asp" class="p"><%= lectureData.courseHeader %></a>. Лекция <%= lectureData.number %>
<br>
<b><%= lectureData.title %></b>
<br>
<%= lectureData.description %>
<br><br>



<video width="600" controls disablepictureinpicture controlsList="nodownload">
  <source src="/video/<%= filename %>" type="video/mp4">
</video>



<br>
<span style="font-size:12px;"><%= lectureData.date %></span>

<% if (lectureData.presentation!='') { %>
  <br><br>
  <a href="<%= lectureData.presentation %>" class="p" target="_blank">Презентация</a>
<% } %>

<% if (lectureData.literature && lectureData.literature[0]) { %>
  <br><br>
  Литература:
  <br>
  <% lectureData.literature.forEach(line => { %>
    <a href="<%=line[0]%>" class="p" target="_blank"><%=line[1]%></a><br>
  <% }) %>
<% } %>

<% if (lectureData.movies && lectureData.movies[0]) { %>
  <br>
  Фильмы:
  <br>
  <% lectureData.movies.forEach(line => { %>
    <a href="<%=line[0]%>" class="p" target="_blank"><%=line[1]%></a><br>
  <% }) %>
<% } %>

<br><br>
<a href="http://velikanov.ru/lecture<%= lectureData.courseNum%>.asp" class="p">Заказать другие лекции курса «<%= lectureData.courseHeader%>»</a>





<hr size="2">
<span style="font-size:12px;">&#169; А.Г.Великанов, 1998 — 2021

</span>


<hr size="2">







	</div>




	</nav>



</body>

</html>
