<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <META http-equiv=Keywords content="Андрей Великанов, философия, искусство">

	<title>Андрей Великанов. Заказ просмотра лекции</title>

  <link rel="stylesheet" href=" http://velikanov.ru/css/newold.css">
  <link rel="stylesheet" href=" http://velikanov.ru/css/head.css">

  <style>
    body { font-family: Verdana, Arial, sans-serif; }
  </style>


</head>
<body>

  <hr size="2">

  <p>Курс <a href="http://velikanov.ru/lecture14.asp" class="p"><%= lectureData.courseHeader %></a>. Лекция <%= lectureData.number %></p>

  <p><b><%= lectureData.title %></b></p>

  <p><%= lectureData.description %></p>

  <p><%= lectureData.date %></p>
  <p>Архив лекций курса «Философия искусства»  — <a href="http://velikanov.ru/lecture14.asp">http://velikanov.ru/lecture14.asp</a></p>

  <video width="600" controls disablepictureinpicture controlsList="nodownload">
    <source src="/video/<%= filename %>" type="video/mp4">
  </video>

  <br><br>
  <a href="http://velikanov.ru/lecture14.asp" class="p">Заказать другие лекции курса «Философия искусства»</a>





  <hr size="2">
  <span style="font-size:12px;">&#169; А.Г.Великанов, 1998 — 2021


</body>
</html>
