<!doctype html>
<html>

<head>
	<!-- <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">  Кодировка -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <META http-equiv=Keywords content="Андрей Великанов, философия, искусство">

	<title><% if (lectureData.title) { %><%= lectureData.courseLetters %>-<%= lectureData.number %>. <%= lectureData.title %><% } else { %>Андрей Великанов. Заказ просмотра лекции<% } %></title>

	<link rel="stylesheet" href="/css/newold.css">
  <link rel="stylesheet" href="/css/head.css">
  <link rel="stylesheet" href="/css/app.css">

</head>

<body>

<nav class="nav" style = "background: #282828;">

<table>
<tr height = "10px">
	<td></td>
	<td></td>
<tr>
	<td width = "12px"></td>
	<td>
	<span class = head  style="margin-top: 15px;"><a href="http://velikanov.ru/default.asp">
	<b>андрей великанов</b></a> </span>
	<br>
	<span style="FONT-FAMILY: Verdana, Arial, sans-serif; font-size:20px; color: #fff; ">
	<span class="block">&nbsp;/Просмотр лекции</span></span> <br>
	</td>
</tr>
</table>

<br>

<div id="maintext">

<hr size="2">
<span class="user-panel">
  <% if (user && user.email) { %>
  Вы авторизованы как <b><%= user.email %></b>.

    <% if (openLectures && openLectures.length > 0) { %>

      Вам доступны лекции:

      <% openLectures.forEach((lecture, ind) => { %>
      <br/><a href="/playlist/<%= lecture.link %>/" class="p"><%= lecture.courseLetters %>-<%= lecture.number %> <%= lecture.title %></a>
      <% }) %>

    <% } else { %>

      У вас пока нет лекций, открытых для просмотра.

      <br><br>
        Заказ можно оформить на одной из этих страниц:<br/>
        <a href="http://velikanov.ru/lecture14.asp" class="p">Философия искусства</a><br/>
        <a href="http://velikanov.ru/lecture15.asp" class="p">Языки культуры</a><br/>
        <a href="http://velikanov.ru/lecture16.asp" class="p">Анаморфическая энциклопедия</a><br/>
        <a href="http://velikanov.ru/lecture17.asp" class="p">Идеи и образы</a><br/>
        <a href="http://velikanov.ru/lecture18.asp" class="p">Homo mutabilis</a><br/><br/>

        Смотрите также <a href="https://www.youtube.com/playlist?list=PLfhmADojwzLV-h7e5t2CEaDJhAMwgdxYg" class="p">открытые лекции</a>.<br/>



    <% } %>

    <br/><a class="p" href="/logout">Выйти</a>

  <% } else { %>
    <% if (showAuthorisationLink) { %>
   Для просмотра вам необходимо <a class="p" href="<%= googleLink %>">авторизоваться</a> с помощью адреса gmail, который вы указывали при заказе лекции.

   <br><br>
        Заказ можно оформить на одной из этих страниц:<br/>
        <a href="http://velikanov.ru/lecture14.asp" class="p">Философия искусства</a><br/>
        <a href="http://velikanov.ru/lecture15.asp" class="p">Языки культуры</a><br/>
        <a href="http://velikanov.ru/lecture16.asp" class="p">Анаморфическая энциклопедия</a><br/>
        <a href="http://velikanov.ru/lecture17.asp" class="p">Идеи и образы</a><br/>
        <a href="http://velikanov.ru/lecture18.asp" class="p">Homo mutabilis</a><br/><br/>

        Смотрите также <a href="https://www.youtube.com/playlist?list=PLfhmADojwzLV-h7e5t2CEaDJhAMwgdxYg" class="p">открытые лекции</a>.<br/>


   <%  } %>
  <% } %>

</span>

<hr size="2">
<br>

<% if (lectureData) { %>

  <% if (lectureData.course && lectureData.courseHeader) { %>
  Курс <a href="http://velikanov.ru/lecture<%= lectureData.courseGlobalNum %>.asp" class="p"><%= lectureData.courseHeader %></a>. Лекция <%= lectureData.number %>
  <% } %>

  <% if (lectureData.title) { %>
    <br>
    <br>
    <b><%= lectureData.title %></b>
  <% } %>

  <% if (lectureData.description) { %>
    <br>
    <%= lectureData.description %>
    <br><br>
  <% } %>

  <% if (lectureData.video) { %>
  <video width="600" controls disablepictureinpicture controlsList="nodownload">
    <source src="/video/<%= lectureData.video %>" type="video/mp4">
  </video>
  <% } %>

  <% if (lectureData.date) { %>
    <br>
    <span style="font-size:12px;"><%= lectureData.date %></span>
  <% } %>

  <% if (lectureData.presentation) { %>
    <br><br>
    <a href="<%= lectureData.presentation %>" class="p" target="_blank">Презентация</a>
  <% } %>

  <% if (lectureData.literature && lectureData.literature[0]) { %>
    <br><br>
    Литература:
    <br>
    <% lectureData.literature.forEach(line => { %>
      <a href="<%=line[0]%>" class="p" target="_blank"><%=line[1]%></a><br>
    <% }) %>
  <% } %>

  <% if (lectureData.movies && lectureData.movies[0]) { %>
    <br>
    Фильмы:
    <br>
    <% lectureData.movies.forEach(line => { %>
      <a href="<%=line[0]%>" class="p" target="_blank"><%=line[1]%></a><br>
    <% }) %>
  <% } %>

  <% if (lectureData.courseHeader) { %>
    <br><br>
    <a href="http://velikanov.ru/lecture<%= lectureData.courseGlobalNum%>.asp" class="p">Заказать другие лекции курса «<%= lectureData.courseHeader%>»</a>
  <% } %>

<% } %>

<hr size="2">
<span style="font-size:12px;">&#169; А.Г.Великанов, 1998 — 2021

</span>


<hr size="2">







	</div>




	</nav>



</body>

</html>
