<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
	<!-- <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">  Кодировка -->
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<META http-equiv=Keywords content="Андрей Великанов, философия, 
	искусство, 
	культурология, 
	искусствоведение, 
	искуствознание, 
лекции по философии, 
история искусства,
модернизм, 
постмодернизм,
культура,
теория искусства,
Розалинд Краусс,
Клемент Гринберг,
Мишель Фуко,
Дональд Прециози,
Моррис Витц,
эссенциализм,
антиэссенциализм,
понимание искусства, 
определение искусства,
Анаморфическое зрение,
Миф,
Логос,
Миф о пещере,
эстетика,
лекции по эстетике,
современное искусство,
Метафора. 
Мимесис,
Вера и знание,
Утопия,
Фома Аквинский,
Иммануил Кант,
Ресентимент,
Победа над солнцем,
Казимир Малевич,
Русский космизм,
Семиотика,
Йозеф Бойс, 
Энди Уорхол, 
Джозеф Кошут,
Смерть автора,
Язык архитектуры постмодернизма,
Роберт Вентури,
Чарльз Дженкс,
Вернакуляр,
Метанаррация,
Жиль Делез,
Ризома,
Жан Бодрийяр,
Гиперреальность,
Симулякр,
Симуляция,
Имплозия масс,
Пустой знак
">
    <title>Открытые лекции. <% if (title) { %><%= title %><% } %></title>

 
    <link rel="stylesheet" href="/css/newold.css">
    <link rel="stylesheet" href="/css/head.css">




    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script> 



</head>

<body onload="init()" onclick="openIt()">
<!--Rating@Mail.ru counter-->
<script language="javascript" type="text/javascript"><!--
d=document;var a='';a+=';r='+escape(d.referrer);js=10;//--></script>
<script language="javascript1.1" type="text/javascript"><!--
a+=';j='+navigator.javaEnabled();js=11;//--></script>
<script language="javascript1.2" type="text/javascript"><!--
s=screen;a+=';s='+s.width+'*'+s.height;
a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth);js=12;//--></script>
<script language="javascript1.3" type="text/javascript"><!--
js=13;//--></script><script language="javascript" type="text/javascript"><!--
d.write('<img src="http://da.c8.b1.a0.top.mail.ru/counter'+'?id=100988;js='+js+
a+';rand='+Math.random()+'" height="1" width="1" alt="top.mail.ru" border="0">');
if(11<js)d.write('<'+'!-- ')//--></script>
<noscript><img src="http://da.c8.b1.a0.top.mail.ru/counter?js=na;id=100988" 
height="1" width="1" alt="top.mail.ru" border="0"></noscript>
<script language="javascript" type="text/javascript"><!--
if(11<js)d.write('--'+'>');//--></script>
<!--// Rating@Mail.ru counter-->



<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(56984956, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/56984956" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->



    <nav class="nav" style = "background: url(/img/back/2_31.jpg) no-repeat top right #282828;">


<table>
<tr height = "10px">
	<td></td>
	<td></td>
<tr>
	<td width = "12px"></td>
	<td>		
	<span style="margin-top: 15px;"><a class ="head" href="../default.asp">
	<b>velikanov.ru</b></a> </span> 
	<br>
	<span style="FONT-FAMILY: Verdana, Arial, sans-serif; font-size:20px; color: #fff; ">
	<span class="block"> &nbsp;/<%= shortTitle %></span></span> <br>
	</td>
</tr>
</table>


 
<span class="block">

<!--oldmenu-->










<SCRIPT language=JavaScript>
function flip(name) {
	if(document.images)	{
		document.images[name].style.filter='';
	}
}


mouseY = 0;
pointerY = 0;

function MouseMove(e) {
	mouseY = event.y + document.body.scrollTop;
}

function repeater() {
	if (mouseY!=pointerY) {
		pointerY += Math.round((mouseY-pointerY)/6);
		lyr.top = pointerY-1;
	}
}

function init() {
	document.onmousemove=MouseMove;
	lyr = document.all["pointer"].style;
	setInterval("repeater()",50);
}
</SCRIPT>





<script language="JavaScript">

function openIt() {
  currEl = event.srcElement;
  if (currEl.className == "subhead") {
    newId = currEl.id + "vis" 
     imgId = currEl.id
      showIt = document.all(newId) ;
     if (showIt.style.display == "none") {
       showIt.style.display = "" ;
        document.images(imgId).src = "minus.gif" 
       } else {
       showIt.style.display = "none" ;
        document.images(imgId).src = "plus.gif" 
      }
   }
}
</script>


<table>
<tr height = "10px">
	<td></td>
</tr>
</table>


<!-- section 1 -->
<span class=indent2><a href="#1" class=subhead id="group1"  title="">Лекции</a></span><br>
<div id="group1vis" class=list style="display:None">
     
<a href="../lecture14.asp?A=1&B=1&C=0"><span title=""> Философия искусства</span></a><br><a href="../lecture15.asp?A=1&B=2&C=0"><span title=""> Языки культуры</span></a><br><a href="../lecture16.asp?A=1&B=3&C=0"><span title=""> Анаморфическая энциклопедия</span></a><br><a href="../lecture17.asp?A=1&B=4&C=0"><span title=""> Идеи и образы</span></a><br><a href="../lecture18.asp?A=1&B=5&C=0"><span title=""> Homo mutabilis</span></a><br><a href="../5_stories.asp?A=1&B=6&C=0"><span title=""> Пять исторических анекдотов с разоблачением</span></a><br><a href="../victory.asp?A=1&B=7&C=0"><span title=""> Победа над солнцем</span></a><br><a href="../lca.asp?A=1&B=8&C=0"><span title=""> Современное искусство</span></a><br><a href="https://www.youtube.com/playlist?list=PLfhmADojwzLV-h7e5t2CEaDJhAMwgdxYg"><span title=""> Открытые записи лекций</span></a><br>

</div>



<!-- section 2  -->
<span class=indent2><a href="#1" class=subhead id="group2"  title="">Очный курс</a></span><br>
<div id="group2vis" class=list style="display: None">

<a href="../philosophyofart.asp?A=2&B=1&C=0"><span title=""> Курс 2023/24</span></a><br><a href="../entrant.asp?A=2&B=2&C=0"><span title=""> Как поступить</span></a><br><a href="../reading.asp?A=2&B=3&C=0"><span title=""> Программа подготовки</span></a><br><a href="../testemony.asp?A=2&B=4&C=0"><span title=""> Отзывы студентов</span></a><br><a href="../blackpr.asp?A=2&B=5&C=0"><span title=""> Предупреждение</span></a><br>

</div>
   
     



<!-- section 3  -->
<span class=indent2><a href="#1" class=subhead id="group3"  title="">Тексты</a></span><br>
<div id="group3vis" class=list style="display: None">

<a href="../simulacrum_intro.asp?A=3&B=1&C=0"><span title=""> Симулякр ли я дрожащий или право имею</span></a><br><a href="https://yadi.sk/d/bHlE7NcIRLkxb"><span title=""> Бассейн Москва</span></a><br><a href="https://web.archive.org/web/20220423055544/http:/www.ruthenia.ru/logos/number/55/02.pdf"><span title=""> Как физики съели лириков...</span></a><br><a href="https://web.archive.org/web/20220528233316/http:/www.chaskor.ru/article/pr_prostye_rassuzhdeniya_o_nekotoryh_slovah_29299"><span title=""> Простые рассуждения о некоторых словах</span></a><br><a href="https://web.archive.org/web/20220121023827/http:/www.russ.ru/Mirovaya-povestka/Gulliver-protiv-Shtirlica"><span title=""> Гулливер против Штирлица</span></a><br><a href="https://web.archive.org/web/20220407043646/http:/old.russ.ru/ist_sovr/20020219.html"><span title=""> Спорт вместо балета</span></a><br><a href="https://web.archive.org/web/20210515213302/http:/www.logosjournal.ru/arch/76/100_10.pdf"><span title=""> Selfie ergo sum</span></a><br><a href="https://web.archive.org/web/20220529051449/https:/di.mmoma.ru/news?mid=707&id=129"><span title=""> Россия - родина художественных слонов</span></a><br><a href="https://web.archive.org/web/20210310094730/http:/www.chaskor.ru/article/chelovek_modernizma_47001"><span title=""> О сложном человеке</span></a><br>

</div>





<!-- section 4  -->
<span class=indent2><a href="#1" class=subhead id="group4"  title="">Блоги</a></span><br>
<div id="group4vis" class=list style="display: None">

<a href="https://www.facebook.com/andrey.velikanov"><span title=""> Facebook</span></a><br><a href="https://www.youtube.com/channel/UCH9YjjfYpTpIvQm2vQCSwjA/"><span title=""> Youtube</span></a><br>


</div>


<!-- section 5  -->
<span class=indent2><a href="#1" class=subhead id="group5"  title="">Библиотека</a></span><br>
<div id="group5vis" class=list style="display: None">

<a href="../lib/alphabet.asp?A=5&B=0&C=0"><span title=""> Алфавитный список</span></a><br><a href="../philosophy/?A=5&B=1&C=0"><span title=""> Энциклопедия «История философии»</span></a><br><a href="../culturology/?A=5&B=2&C=0"><span title=""> Энциклопедия «Культурология. XX век»</span></a><br><a href="../lib/weitz.asp?A=5&B=3&C=0"><span title=""> Моррис Витц. «Роль теории в эстетике»</span></a><br><a href="../lib/popper.asp?A=5&B=4&C=0"><span title=""> Карл Поппер. «Нищета историцизма»</span></a><br><a href="../lib/malevich.asp?A=5&B=5&C=0"><span title=""> Казимир Малевич. Тексты разных лет</span></a><br><a href="../lib/habermas.asp?A=5&B=6&C=0"><span title=""> Юрген Хабермас. «Вера и знание»</span></a><br><a href="../lib/barthes.asp?A=5&B=7&C=0"><span title=""> Ролан Барт. «Смерть автора»</span></a><br><a href="../russell/index.asp?A=5&B=8&C=0"><span title=""> Бертран Рассел. «История западной философии»</span></a><br><a href="../videolib/deleuze.asp?A=5&B=9&C=0"><span title=""> Алфавит Жиля Делеза (видео)</span></a><br>

</div>

<!-- section 6  -->
<span class=indent2><a href="#1" class=subhead id="group6"  title="">Архив</a></span><br>
<div id="group6vis" class=list style="display: None">

<a href="../default_ru.asp?A=6&B=1&C=0"><span title=""> Архив 1998 — 2005</span></a><br>     


</div>



<!-- section 7  -->
<span class=indent2><a href="#1" class=subhead id="group7"  title="">Интервью</a></span><br>
<div id="group7vis" class=list style="display: None">

<a href="https://youtu.be/6GyLNgtILXQ?A=7&B=0&C=0"><span title=""> Разум появился благодаря искусству. RTVI Час Speak</span></a><br><a href="https://youtu.be/crDhxth9BqU?A=7&B=1&C=0"><span title=""> Философия постмодернизма. RTVI Час Speak</span></a><br><a href="https://youtu.be/RHrwjtdE78M?A=7&B=2&C=0"><span title=""> Почему искусство пугает и привлекает? RTVI Час Speak</span></a><br>  
  


</div>








<!-- section 8  -->
<span class=indent2><a href="../resume_ru.asp?A=8&B=0&C=0" class=subhead id="group8"  title="">CV</a></span><br>


<!-- section 9  -->
<span class=indent2><a href="../contacts.asp?A=9&B=0&C=0" class=subhead id="group9"  title="">Контакты</a></span><br>
  
  


<br><br><br>
        

     
 
</span>






    
	<div id="maintext">
       

		<!--скрипт для обработки видео youtube-->
<script>
'use strict';
function r(f){/in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}
r(function(){
    if (!document.getElementsByClassName) {
        // Поддержка IE8
        var getElementsByClassName = function(node, classname) {
            var a = [];
            var re = new RegExp('(^| )'+classname+'( |$)');
            var els = node.getElementsByTagName("*");
            for(var i=0,j=els.length; i < j; i++)
                if(re.test(els[i].className))a.push(els[i]);
            return a;
        }
        var videos = getElementsByClassName(document.body,"youtube");
    } else {
        var videos = document.getElementsByClassName("youtube");
    }
    var nb_videos = videos.length;
    for (var i=0; i < nb_videos; i++) {
        // Находим постер для видео, зная ID нашего видео
        videos[i].style.backgroundImage = 'url(http://i.ytimg.com/vi/' + videos[i].id + '/sddefault.jpg)';
        // Размещаем над постером кнопку Play, чтобы создать эффект плеера
        var play = document.createElement("div");
        play.setAttribute("class","play");
        videos[i].appendChild(play);
        videos[i].onclick = function() {
            // Создаем iFrame и сразу начинаем проигрывать видео, т.е. атрибут autoplay у видео в значении 1
            var iframe = document.createElement("iframe");
            var iframe_url = "https://www.youtube.com/embed/" + this.id + "?autoplay=1&autohide=1";
            if (this.getAttribute("data-params")) iframe_url+='&'+this.getAttribute("data-params");
            iframe.setAttribute("src",iframe_url);
            iframe.setAttribute("frameborder",'0');
            // Высота и ширина iFrame будет как у элемента-родителя
            iframe.style.width  = this.style.width;
            iframe.style.height = this.style.height;
            // Заменяем начальное изображение (постер) на iFrame
            this.parentNode.replaceChild(iframe, this);
        }
    }
});
</script>		






<br>
<b><%= title %></b> 
<br>

<br>





<video width="600" controls disablepictureinpicture controlsList="nodownload">
  <source src="http://video.velikanov.ru/public/2_31_0.8y.mp4" type="video/mp4">
</video>


<br>

<span style="font-size:12px;">
<table  width="600" >
<tr>

	<td><%= date %></td>
	<td align="right">
	
	<!--
	<span id="playerQualityControls">
	качество:  <a href="javascript:switchSource('/public/2_24_0.8.mp4', 'q1');" id="q1" class="q active">0.8</a>,
	<a href="javascript:switchSource('/public/2_23_0.8y.mp4', 'q2');" id="q2" class="q">3.0</a>
	</span>
	-->

	</td>
</tr>
</table>
</span>


<script>

const video = document.getElementsByTagName('video')[0];

function switchSource(file, id) {
  if (video) {

    let currentTime = video.currentTime, isPaused = video.paused;

    video.setAttribute('src', 'http://video.velikanov.ru' + file);

    video.addEventListener('loadedmetadata', function() {
      video.currentTime = currentTime;
    });

    if (!isPaused) {
      video.play();
    }
  }
  const links = document.getElementById('playerQualityControls').children;
  if (links) {
    for (let l of links) { l.className = l.className.replace('active', ''); };
  }
  if (document.getElementById(id)) {
    document.getElementById(id).className = document.getElementById(id).className + ' active';
  }
  return false;
}

</script>

<br>
<%= description %>




<br><br>
<hr size="2">
<a href="../default.asp" class="p">velikanov.ru</a>  &gt;&gt; Открытые лекции. <%= shortTitle %> &nbsp;</a>


<hr size="2">
<span style="font-size:12px;">&#169; А.Г.Великанов, 1998 — 
2023

</span> 


<hr size="2">

		
	</div>






<div class="preloader">
    <div class="preloader__loader"  style="height:100%; width:100%" >

	<table  width="100%" height="100%" bgcolor="#282828">
	<tr>
		<td align="center" valign="center">
		


<div id="fountainG">
	<div id="fountainG_1" class="fountainG"></div>
	<div id="fountainG_2" class="fountainG"></div>
	<div id="fountainG_3" class="fountainG"></div>
	<div id="fountainG_4" class="fountainG"></div>
	<div id="fountainG_5" class="fountainG"></div>
	<div id="fountainG_6" class="fountainG"></div>
	<div id="fountainG_7" class="fountainG"></div>
	<div id="fountainG_8" class="fountainG"></div>
</div>



		</td>
	</tr>
	</table>


    </div>
</div>




<script>
// Preloader page
jQuery(document).ready(function($) {
	$(window).on('load', function () {
		var $preloader = $('.preloader'),
		    $loader = $preloader.find('.preloader__loader');
		$loader.fadeOut();
		$preloader.delay(0).fadeOut(0);
	});
});
</script>


	
	</nav>

	
	
</body>

</html>