<!DOCTYPE HTML>
<html>
<head>
<style>
table {
  border-collapse: collapse;
}

BODY
{
    FONT-FAMILY: Verdana, Arial, sans-serif;
    FONT-SIZE: 8pt
}

td, th {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
  	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, sans-serif;
}

th {
  font-weight: bold;
  background-color: #E6E6E6;
  	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, sans-serif;
}

A {
	CURSOR: hand; COLOR: black; TEXT-DECORATION: none
}
A:active {
	CURSOR: hand; COLOR: black; TEXT-DECORATION: none
}
A:hover {
	CURSOR: hand; COLOR: red; TEXT-DECORATION: none
}

A.p
{
	Font-Size: 11px;
	background-color: #EFEFEF;
	text-decoration: none

}

A.p:hover
{   text-decoration: none;
    background-color: #000000;
    COLOR: #FFFFFF
}
A.p:active
{
    COLOR: #555555
}


</style>
<meta charset="windows-1251">

<script src="./JQuery/javaup.js"></script>

</head>

<b>Статистика</b>
<br><br><br>

  <p>
    С: <input type="date" id="start" name="date-start" value="<%= date_start %>" min="<%= pickerStart %>" max="<%= pickerEnd %>" />
    По: <input type="date" id="end" name="date-end" value="<%= date_end %>" min="<%= pickerStart %>" max="<%= pickerEnd %>" /> &nbsp;
    <input type="button" value=">>>" id="changeRangeButton" />
  </p>

<!--  Статистика за период <%= period %> -->

<table>
<tr>
	<td>date</td>
	<td>name</td>
	<td>gmail</td>
	<td>lecture</td>
	<td>total min</td>
</tr>


  <% lecturesStat.forEach(day => { %>

    <tr bgcolor='#E0E0E0'>
      <td><%= day.day %></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= day.totalmin %></td>
    </tr>

    <% day.data.forEach(rec => { %>

          <tr>
            <td></td>
            <td><%= rec.name %></td>
            <td><%= rec.email %></td>
            <td><a title="<%= rec.lectureTitle %>"><%= rec.lectureAbbr %></a></td>
            <td><%= rec.totalmin %></td>
          </tr>

    <% }) %>

  <% }) %>

  <!--<h2>Статистика по участникам</h2>-->
  <!-- // Имя
  // Просмотрено лекций: ... -->

  <script>
    const changeRange = () => {
      let [from, to] = [ document.getElementById('start').value, document.getElementById('end').value ]
      window.location.href = `/stats/?from=${from}&to=${to}`;
    }
    document.getElementById('changeRangeButton').addEventListener('click', changeRange)
  </script>


</body>
</html>
