<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>videolib stats</title>

</head>
<body>

  <h2>Статистика по лекциям</h2>

  <p>
    С: <input type="date" id="start" name="date-start" value="<%= date_today %>" min="<%= date_start %>" max="<%= date_end %>" />
    По: <input type="date" id="end" name="date-end" value="<%= date_today %>" min="<%= date_start %>" max="<%= date_end %>" /> &nbsp;
    <input type="button" value="Показать" id="changeRangeButton" />
  </p>

  Статистика за период <%= period %>

  <% lecturesStat.forEach(lecture => { %>

    <p><b><%= lecture.title %></b><br/>просмотров: <%= lecture.users.length %></p>

      <% if (lecture.users && lecture.users.length > 0) {  %>
        <p>
        <% lecture.users.forEach(user => { %>
          <%= user.name %> (<%= user.firstPlay %>)<br/>
        <% }) %>
        </p>
      <% } %>
  <% }) %>

  <!--<h2>Статистика по участникам</h2>-->
  <!-- // Имя
  // Просмотрено лекций: ... -->

  <script>
    const changeRange = () => {
      let [from, to] = [ document.getElementById('start').value, document.getElementById('end').value ]
      window.location.href = `/stats/?from=${from}&to=${to}`;
    }
    document.getElementById('changeRangeButton').addEventListener('click', changeRange)
  </script>


</body>
</html>
